* text=auto

/spec export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.travis.yml export-ignore
/CHANGELOG.md export-ignore
/CONTRIBUTING.md export-ignore
/Rakefile export-ignore
/coffelint.json export-ignore
/package-lock.json export-ignore
